:root {
  --fuente-1: #FFF7F9;
  --fuente-2: #000000;
  --color-bg: #F6C1D1;
  --color-menu: #e672ba;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fondo  {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu {
  z-index: 1;
  width: 200px;
  height: 100svh;
  background-color: var(--color-menu);
}

.menu a {
  display: block;
  padding-top: 30px;
  color: var(--fuente-1);
}

.links {
  padding-left: 20px;
  padding-top: 100px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--color-bg)
}

.main {
  align-content: middle;
  text-align:center;
}