:root {
  --fuente-1: #FFF7F9;
  --fuente-2: #000000;
  --color-bg: #F6C1D1;
  --color-menu: #e672ba;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fondo  {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#menu {
  position: fixed;
  z-index: 1;
  width: 200px;
  height: 100svh;
  background-color: var(--color-menu);
}

#menu.no {
  visibility: hidden;
}

#menu a {
  display: block;
  padding-top: 30px;
  color: var(--fuente-1);
  font-family: "Coiny", system-ui;
  font-weight: 700;
  font-size: large;
}

.boton {
  position: fixed;
  z-index: 4;
}

.links {
  padding-left: 20px;
  padding-top: 100px;
}

body {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--color-bg)
}

.main {
  padding-top: 20px;
  align-content: middle;
  text-align: center;
  font-weight: 700;
}


.main a {
  font-size: xx-large;
    color:var(--fuente-2);
}

.table {
  background-color: #F89FF7;
  alignment-baseline: middle;
  table-layout: auto;
}

.about {
  align-content: middle;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}